/*--- NAV ---*/

body {

    background-color: #EFFFF6;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav {

    background: linear-gradient(to top, #002B62, #335D92);
    display: flex;
    height: 170px;
    position: relative;
    padding: 20px;
    justify-content: space-between;
    
}

#logo {

    width: 140px;
    max-width: 100%;
    align-items: center;
    margin-left: 20px;
    cursor: pointer; 
}

.elementosaladerecha {

    display: flex;
    flex-direction: column; 
    align-items: flex-end;
}

.arriba {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.arriba .item {

    margin-left: 20px;
    color: #EFFFF6;
}

.abajo {

    margin-top: 10px;
    display: flex;
}

.abajo .boton{

    margin-top: 10px;
    margin-right: 20px;
}

#campana {

    width: 35px;
    height: 40px;
    max-width: 100%;
    cursor: pointer;
}

#fotoperfil {

    width: 80px;
    height: 80px;
    max-width: 100%;
    cursor: pointer;
}

.boton {

    background-color: #EFFFF6;
    border-radius: 8px;
    padding: 5px 18px;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 1);
}

/*--- cargarLibro.html y revisarLibro.html ---*/

.content {

    margin-top: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;

}

.gray-bg {

    width:60%;
    margin:200px auto;
    background-color: var(--gris);
    border-radius:5px;
    display:block;
}

.checkbox-content {

    padding: 10px 20px 0px;
    display: flex;
    justify-content: center;
}

.form-container {

    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
    background: #335D92;
}

.form-container input[type="text"], .form-container textarea {

    width: 100%;
    padding: 10px 0px 10px 5px;
    margin: 5px 0px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {

    background-color: #EFFFF6;
    border-radius: 10px;
    padding: 10px 25px;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: black;
    margin-left: 80%;
    margin-top: 10px;
}

.row {

    display: table;
    clear: both;
    width: 100%;
    padding: 0px 10px;
}

.col {

    width:48%;
    float:left;
    margin-right:2%;
}

.col-25{

    width:23%;
    float:left;
}

.col-75{

    width:73%;
    float:left;
}

.form-container .file-input-container {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.form-container .file-input-label {

    display: block;
    width: 100%;
    background-color: #f1f1f1;
    border: 2px dashed #ccc;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}

.form-container .file-input {

    display: none;
}

.form-container.checkbox{

    box-shadow:0px 0px 0px transparent;
    -webkit-box-shadow:0px 0px 0px transparent;
}

.w-98{

    width:98% !important;
}

.checkbox {

    width:100%;
}

.checkbox label{

    float:left;
    width:85%;
}

input[type="checkbox"]{

    -ms-transform: scale(2); 
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2); 
    transform: scale(2);
    padding: 10px;
}

/*--- compra.html ---*/

#Central {

    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    display: flex;
    color: white;
}

#infoCompra {

    margin: 0px;
    padding: 0;
    margin-bottom: 0px;
}

.row .col-75 {

    margin: 0;
    padding: 0;
}

#nuevasection {

    background-color: #335D92;
    flex: 1;
    flex-direction: column;
    width: 40%;
    border-radius: 6px;
    padding: 25px;
    padding-left: 50px;
    padding-bottom: 40px;
}

#nuevasection div {

    margin-bottom: 20px;
}

#nuevasection form {

    padding-bottom: 10px;
}

#nuevasection form label {

    padding: 10px;
}

#formDomicilio {

    display: none;
}

#formEntrega input {

    margin-left: 8px;
}

#formPago input {

    margin-left: 8px;
}

#formDomicilio input {

    border: none;
    outline: none;
    border-radius: 3px;
    margin-left: 10px;
}

#continuarDetalles {

    background-color: #EFFFF6;
    border-radius: 10px;
    padding: 10px 25px;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: black;
    float: right;
    margin-right: 30px;
}

#agregarDomicilioBtn {

    background-color: #EFFFF6;
    border-radius: 10px;
    padding: 10px 25px;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: black;
}

#Volver {

    background-color: #EFFFF6;
    border-radius: 10px;
    padding: 10px 25px;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: black;
}

/*--- detallesCompra.html ---*/

#detallesCompra {

    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    display: flex;
    color: white;
    background-color: #335D92;
    border-radius: 10px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
}

#confirmar {

    background-color: #EFFFF6;
    border-radius: 10px;
    padding: 10px 25px;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: black;
    float: right;
    margin-top: 20px;
}

#atras {

    background-color: #EFFFF6;
    border-radius: 10px;
    padding: 10px 25px;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: black;
    margin-top: 20px;
}

/*--- empleadopagos.html ---*/

.contenedorpago {

    background-color: #335D92;
    padding: 20px;
    border-radius: 10px;  
    margin-top: 50px;
    display: flex;
    color: white;
}

.center-block {

    position: relative;
    margin: auto;
    max-width: 720px;
}

.form-control {

    border-radius: 6px;
    padding: 15px 10px;
    height: auto;
}

.librito {

    width: 100%;
    margin-top: 5px;
}

#Siguiente {

    background-color: #EFFFF6;
    border-radius: 10px;
    padding: 10px 25px;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: black;
    margin-top: 10px;
    float: right;
}

/*--- estado.html ---*/

#lista {

    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 10px;
    margin: 0px 80px;
}

.estadoLibros {

    justify-content: space-between; 
    align-items: center;
    width: 100%;
    height: auto;
    border: 2px solid #335D92;
    padding: 20px;
    border-radius: 10px;
    color: black;
    list-style-type: none;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}

.botonestado {

    background-color: #335D92;
    border-radius: 10px;
    padding: 10px 25px;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: white;
    float: right;
}

/*--- manuscrito.html ---*/

main {
    
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#main-content {

    margin-top: 50px;
    background-color: #335D92;
    padding: 2em;
    border-radius: 10px;
    width: 100%;
    max-width: 600px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: white; 
}

label {

    display: block;
    margin-bottom: 0.5em;
}

input[type="text"], input[type="file"] {

    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
}

#btnCargar {

    background-color: #EFFFF6;
    border-radius: 10px;
    padding: 10px 25px;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: black;
}

.popup-overlay {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {

    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

#cerrar-pop-up {
    
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #555;
}

.popup-error {
    
    color: black;
}

/*--- status.html ---*/

#orden {

    margin: 50px 200px 0px;
}

.checkbox-content{

    padding: 10px 20px 0px;
    display: flex;
    justify-content: center;
    color: white;
}
.form-container {

    background-color: white;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
    background: #335D92;
}

.checkbox-content input {

    margin-left: 12%;
}

/*--- statusWriter.html COINCIDE CON PARTE DE status.html ---*/

/*--- CHAT DE statusWriter.html ---*/

.chat-button {

    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
}

.chat-button img {

    width:100%;
    position: relative;
}

.chat-block {

    position: fixed;
    bottom: 0;
    right: 50px;
    z-index: 10;
    width: 500px;
}

.chat-boton {

    position: absolute;
    bottom: 50px;
    z-index:100;
    width:100px;
    right: 0px;
}

.chat-boton img {

    width:100%;
}

.chat-pop {

    position:absolute;
    width:80%;
    height:400px;
    overflow-y: scroll;
    background-color: white;
    border-radius: 5px;
    bottom: 150px;
    right: 70px;
    z-index: 110;
    display: none;
}

.chat-input {

    width: 80%;
    position: absolute;
    bottom: 115px;
    z-index: 200;
    display: none;
}

.chat-input input[type="number"]{

    width: 70%;
    border-radius: 5px;
    border: 2px solid #335D92;
    margin-left: 6.5%;
    height: 20px;
}

.chat-input button {

    width:20%;
    background-color: #335D92;
    border-radius: 10px;
    padding: 3px;
    border: none;
    text-decoration: none;
    color: white;
}

.bot {

    background-color: #335D92;
    color: white;
    padding: 5px;
    margin-left: 2%;
    margin-right: 6%;
    margin-top: 2%;
    border-radius: 5px;
}

.person {

    background-color: var(--gris);
    color:var(--blanco);
    padding:5px;
    margin-left:50%;
    margin-right: 2%;
    border-radius: 5px;
    text-align:right;
}

/*--- sucursales.html ---*/

.purchase-options {

    margin-top: 50px;
    background-color: #335D92;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 600px; 
    height: auto;
    justify-content: center;
}

.purchase-options .book-image-container {

    margin-bottom: 10px; 
}

.purchase-options .book-image-container img {

    width: 160px;
    height: auto; 
}

.purchase-options section {

    width: 100%;
    margin-bottom: 10px; 
    text-align: center; 
}

.purchase-options h2 {

    font-size: 1.2em; 
}

.purchase-options label {

    display: block;
    margin-bottom: 5px; 
    font-size: 0.9em;
}

.purchase-options select {

    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 0.9em;
}

.button-container {

    display: flex;
    justify-content: center;
    width: 100%;
}

.button-container button {

    margin: 0 5px;
}

#detalles {

    background-color: #EFFFF6;
    border-radius: 10px;
    padding: 10px 25px;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

#cancelar {

    background-color: #EFFFF6;
    border-radius: 10px;
    padding: 10px 25px;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

.button-container button:hover {

    opacity: 0.9;
}

/*--- notificacion ---*/

#mensaje {

    position: absolute;
    background-color: #44617D;
    top: 100px;
    left: 1400px;
    padding: 15px 20px 15px 15px;
    border-radius: 5px;
    transition: top 0.5s ease;
    z-index: 2;
    color:white;
}

/*--- FOOTER---*/

footer {

    background-color: #335D92;
    color: #EFFFF6;
    width: 100%; 
    height: auto;
    text-align: center;
    align-content: center;
    padding: 20px;
    margin-top: 240px;
}

footer p {

    margin: 0px;
}