/*--- PAGS PRINCIPALES: AUTOR / EMPLEADO / COMPRA ---*/

body {

    background-color: #EFFFF6;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav {

    background: linear-gradient(to top, #002B62, #335D92);
    display: flex;
    min-height: 170px;
    position: relative;
    padding: 20px;
    justify-content: space-between;
    
}

#logo {

    width: 140px;
    max-width: 100%;
    align-items: center;
    margin-left: 20px;
    cursor: pointer; 
}

.elementosaladerecha {

    display: flex;
    flex-direction: column; 
    align-items: flex-end;
}

.arriba {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.arriba .item {

    margin-left: 20px;
    color: #EFFFF6;
}

.abajo {

    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.abajo .boton{

    margin-top: 10px;
    margin-right: 20px;
}

#campana {

    width: 35px;
    height: 40px;
    max-width: 100%;
    cursor: pointer;
}

#fotoperfil {

    width: 80px;
    height: 80px;
    max-width: 100%;
    cursor: pointer;
}

.boton {

    background-color: #EFFFF6;
    border-radius: 8px;
    padding: 5px 18px;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 1);
}

/*--- FILTRO ---*/

form {

    background-color: #BABABA;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 25px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 10;
    position: relative;
}

.mismocss {
    flex:1 1 200px;
    background-color: #DDDDDD;
    border: none;
    border-radius: 8px;
    padding: 5px 50px 5px 10px;
    max-width: 200px;
    margin: 5px 15px; 

}

#filtrar {

    background-color: #DDDDDD;
    border: none;
    border-radius: 8px;
    padding: 5px 18px;
    color: black;
    cursor: pointer;
    align-self: center;
    transition: all 0.5s ease;
    margin: 5px 15px; 
}

#filtrar:hover {

    background-color: #335D92;
    color: white;
    
}

/*--- PARTE SUPERIOR ---*/

.image-container {
    
    position: relative; 
    display: inline-block; 
}

.image-container img {
    
    width: 100%; 
    height: auto; 
}

.text-overlay {
    
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 7.5vw;
    text-align: center;
    background-color: rgba(51, 93, 146, 0.7); 
    padding: 10px;
    border-radius: 15px;
}

/*--- LIBROS ---*/

#lista {

    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0px auto;
    width:90%;
}

.Contenedor {

    display: flex; 
    flex: 1 1 calc(33.33% - 50px);
    max-width: calc(33.33% - 50px); 
    min-width:500px;
    justify-content: space-between; 
    align-items: center;
    height: auto;
    border: 2px solid #335D92;
    padding: 20px;
    border-radius: 10px;
    color: black;
    list-style-type: none;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}

.Libros .foto {

    padding-left: 50px;
}

.Libros .boton {

    background-color: #335D92;
    border-radius: 10px;
    padding: 10px 25px;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: white;
}

.titulo {

    padding-top: 10px;
    padding-left: 10px;
    font-size: 30px;
    font-weight: bold;
    display: block;
}

.foto {

    object-fit: cover;
    border-radius: 8px;
    float: right;
}

.escritor {

    padding-left: 10px;
    font-size: 20px;
    display: block;
}

.genero {

    padding-left: 10px;
    font-size: 20px;
}

.precio {

    padding-left: 10px;
    font-size: 20px;
}

/*--- SECCION YENNY KIDS ---*/

#kids {

    background-image: url(img/Fondo\ kids.jpg);
    width: 100%;
    height: 60vh;
    margin-bottom: 50px;
    padding: 50px;
}

#mediotitulo {

    background-color: rgba(51, 93, 146, 0.7); 
    color: white;
    width: 20%;
    border-radius: 10px;
    padding: 20px;
    padding-right: 20px;
    font-weight: 300;
    text-align: center;
}

#mediotitulo h2 {

    margin: 0;
    font-size: 3vw;
}

#mediotitulo p {

    margin: 0;
    font-size: 1.8vw;
}

.solo2libros {

    display: flex;
    gap: 50px;
    margin: 0px auto;

}

.libro1 {

    background-color: #335D92;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 200px;
    text-align: center;
    margin: 20px;
    list-style: none;
    padding-bottom: 30px;
}

.libro1 img {

    max-width: 100%; 
    height: auto; 
    border-radius: 5px; 
    margin-bottom: 15px;   
}

.libro1 h2 {

    font-size: 20px;
    text-transform: uppercase;
    margin: 10px 0 5px; 
    color: white;
}

.libro1 p {

    font-size: 16px;
    color: white;
}

.button {

    background-color: #EFFFF6;
    border-radius: 10px;
    padding: 10px 25px;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: black;
}

/*--- FOOTER ---*/

footer {

    background-color: #335D92;
    color: #EFFFF6;
    width: 100%; 
    height: auto;
    text-align: center;
    align-content: center;
    padding: 20px;

}

footer p {

    margin: 0px;
}

/*--- NOTIFICACIÓN ---*/

#mensaje {

    position: absolute;
    background-color: #44617D;
    top: 100px;
    left: 1400px;
    padding: 15px 20px 15px 15px;
    border-radius: 5px;
    transition: top 0.5s ease;
    z-index: 2;
    color:white;
}

/*--- ANIMACIÓN DE CARGA ---*/

.loading {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EFFFF6;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.loading.fade-out {

    opacity: 0;
    pointer-events: none;
}

.loading-gif {

    width: 25%;
    height: auto;
}


@media (max-width: 768px) {
    .abajo{
        justify-content: flex-end;
        width:200px;
    }
    .abajo a {
        flex: 1 1 200px; 
        max-width: 200px; 
    }
    .abajo .boton{
        width:200px;
    }

}
