@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif; 
}

:root{
  
    --blanco : #F7F8FA;
    --azul : #EFFFF6;
    --verde : #335D92;
    --gris : #B7B7B7;
}

body {
    
    background: linear-gradient(var(--verde) 0px, var(--verde) 170px, var(--blanco) 174px, var(--blanco) 180px, var(--azul) 80px, var(--azul) 100%) 100%/100% no-repeat;
    width: 100%;
    margin: 0 auto;
    height: 1000px;
}

#logo {
  
  position: absolute;
  top: 10px;
  left: 40px;
  
}

#fotoperfil {
  
  position: absolute;
  top: 15px;
  left: 1800px;
  cursor: pointer;
}

#nombreautor {
  
  position: absolute;
  top: 20px;
  left: 1700px;
  color: white;
  
}

#campana {
  
  position: absolute;
  top: 30px;
  left: 1630px;
  cursor: pointer;
}


#mensaje {
    position: absolute;
    background-color: #6A9B83;
    top: 100px;
    left: 1510px;
    padding: 15px 20px 15px 15px;
    border-radius: 5px;
    transition: top 0.5s ease;
    z-index: 2;
}


.header {
    
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom:2px solid #F7F8FA;
}

.header .user {
  
    display: flex;
    align-items: center;
    margin-top:20px;
}

.header .user span {
    margin-left: 10px;
}

.menu {
  
    position: relative;
    background-color: #D9D9D9;
    top: 180px;
    padding-bottom: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

#boton1 {
  
    position: absolute;
    top: 20px;
    left: 600px;
    padding: 8px 90px; 
    margin: 0 10px; 
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1em; 
    background-color: #BDBDBD; 
    color: black;
    margin-top:10px;
}

#boton2 {
  
    position: absolute;
    top: 20px;
    left: 1100px;
    padding: 8px 90px;
    margin: 0 10px; 
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1em; 
    background-color: #BDBDBD; 
    color: black; 
    margin-top:10px;
}

.menu button:first-child{
  
    margin: 0 2.5% 0% 0%;
}
.menu button.gray {
  
    background-color: #6c6c6c; 
    cursor: not-allowed;
}
.content {
  
    margin-top: 200px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.gray-bg{
  width:60%;
  margin:200px auto;
  background-color: var(--gris);
  border-radius:5px;
  display:block;
}

.checkbox-content{
  
    padding: 10px 20px 0px;
    display: flex;
    justify-content: center;
}
.form-container {
  
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
    background:#BABABA;
}
.form-container input[type="text"], .form-container textarea {
    width: 100%;
    padding: 10px 0px 10px 5px;
    margin: 5px 0px 0px;
    border: 1px solid #ccc;
    
}

.form-container button {
    width: 40%;
    padding: 10px;
    background-color: #627FA5;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-left:60%;
    margin-top:10px;
}

.row {
  
    display:table;
    clear: both;
    width:100%;
}
.col {
  
    width:48%;
    margin-right:2%;
    float:left;
}

.col-25{
  width:23%;
  margin-right:2%;
  float:left;
}

.col-75{
  width:73%;
  margin-right:2%;
  float:left;
}

.form-container .file-input-container {
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.form-container .file-input-label {
  
    display: block;
    width: 100%;
    background-color: #f1f1f1;
    border: 2px dashed #ccc;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}
.form-container .file-input {
  
    display: none;
}

.form-container.checkbox{
  
    box-shadow:0px 0px 0px transparent;
    -webkit-box-shadow:0px 0px 0px transparent;
}

.w-98{
  
    width:98% !important;
}

.checkbox {
  
    width:100%;
}

.checkbox label{
  
    float:left;
    width:85%;
}

input[type="checkbox"]{
    -ms-transform: scale(2); 
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2); 
  transform: scale(2);
  padding: 10px;
}


.chat-button{
  
    position: absolute;
    bottom:10px;
    right:10px;
    width:50px;
}

.chat-button img{
  
    width:100%;
    position: relative;
}

#orden {
  
  margin-top: 200px;
  padding: 0px 120px;
}

#propuesta {
  
  position: absolute;
  top: 120px;
  left: 1400px;
  padding: 8px 80px;
  border-radius: 3px;
  background-color: #BDBDBD;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

#propuesta:hover {
    background-color: #EFFFF6;
}

#cargarmanu {
  
  position: absolute;
  top: 120px;
  left: 1660px;
  padding: 8px 40px;
  border-radius: 3px;
  background-color: #BDBDBD;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

#cargarmanu:hover {
    background-color: #EFFFF6;
}

#estatusss {
  
  position: absolute;
  top: 120px;
  left: 1170px;
  padding: 8px 80px;
  border-radius: 3px;
  background-color: #BDBDBD;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

#estatusss:hover {
    background-color: #EFFFF6;
}

#infoCompra img {
  width:100%
}

#tapa{
  margin-top:20px;
}

.boton {
  
  background-color: var(--verde);
  border: none;
  border-radius: 5px;
  padding: 8px 35px;
  color: white;
  text-decoration: none; 
}

.chat-block{
  position:fixed;
  bottom:0;
  right:50px;
  z-index:10;
  width:500px;
}


.chat-boton{
  position: absolute;
  bottom:10px;
  z-index:100;
  width:100px;
  right: 0px;
}

.chat-boton img{
  width:100%;
}

.chat-pop{
  position:absolute;
  width:80%;
  height:400px;
  overflow-y: scroll;
  background-color: var(--blanco);
  border:1px solid var(--gris);
  border-radius: 5px;
  bottom:90px;
  right: 70px;
  z-index:110;
  display:none;
}

.chat-input {
  width: 80%;
  position:absolute;
  bottom:60px;
  z-index:200;
  display:none;
}

.chat-input input[type="number"]{
  width: 70%;
  border-radius: 5px;
  border: 2px solid var(--verde);
  margin-left: 6.5%;
  height: 20px;
}

.chat-input button{
  width:20%;
}

.bot{
  background-color: var(--verde);
  color:var(--blanco);
  padding:5px;
  margin-left:2%;
  margin-right: 6%;
  border-radius: 5px;
}

.person{
  background-color: var(--gris);
  color:var(--blanco);
  padding:5px;
  margin-left:50%;
  margin-right: 2%;
  border-radius: 5px;
  text-align:right;
}

footer {
  
  background-color: var(--verde);
  color: white;
  text-align: center;
  padding: 1em 0;
  width: 100%;
  margin-top: 300px;
}

