/*--- index.html ---*/

body {

  background-color: #EFFFF6;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#azulSuperior {

  background: linear-gradient(to top, #002B62, #335D92);
  height: 250px;
  width: 100%;
  position: relative;
}

#imgFondo {

  background-image: url("img/pexels-photo-6157226 1.png");
  background-size: cover;
  background-position: center;
  margin-top: 5px;
  height: 100vh;
}

.center-block {

  justify-content: center; 
  align-items: center;     
  height: 86.9vh;
  position: relative;
  text-align: center;
  margin-top: -130px;
  z-index: 100;
}

img {

  max-width: 100%;
  height: auto;
}

.btn1 {

  background-color: #EFFFF6;
  border-radius: 12px;
  padding: 10px 40px;
  border: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
}

.btn2 {

  background-color: #EFFFF6;
  border-radius: 12px;
  padding: 10px 55px;
  border: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
}

.google-btn img {

  padding-left: 10px;
  width: 20%;
}

#emailError {

  color:red;
  display: none;
}

#contraseñaError {

  color:red;
  display: none;
}

#errorGeneral {

  color:red;
  display: none;
}

/*--- Login.html y register.html ---*/

.form-floating {

  width: 90%;
  max-width:500px;
  margin: auto;

}

.form-floating input {

  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
}
