@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif; 
}


/* personalizaciones bootstrap */
:root {
    --blanco: #F7F8FA;
    --azul : #EFFFF6;
    --verde : #335D92;
    --gris: #B7B7B7;
}

body {
    background: linear-gradient(var(--verde) 0px, var(--verde) 170px, var(--blanco) 174px, var(--blanco) 180px, var(--azul) 80px, var(--azul) 100%) 100%/100% no-repeat;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
  font-family: 'Roboto', sans-serif;
}

#logo {
  
  position: absolute;
  top: 10px;
  left: 40px;
}


#nombreautor {
    position: absolute;
    top: 25px; /* Ajusta la posición */
    right: 150px; /* Ajusta la posición */
    color: white;
    font-size: 30px; /* Reduce el tamaño de la fuente */
}

#campana {
    position: absolute;
    top: 40px; /* Ajusta la posición */
    right: 250px; /* Ajusta la posición */
    cursor: pointer;
}

#fotoperfil {
    position: absolute;
    top: 20px; /* Ajusta la posición */
    right: 20px; /* Ajusta la posición */
    cursor: pointer;
}

/* Estilos para el contenido principal */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px; /* Reduce el padding */
    flex: 1;
}

.purchase-options {
  
    margin-top: 110px;
    background-color: #F7F8FA;
    padding: 20px; /* Reduce el padding */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%; /* Aumenta el ancho */
    max-width: 600px; /* Ajusta el ancho máximo */
    height: auto;
    justify-content: center;
}

.purchase-options .book-image-container {
    margin-bottom: 10px; /* Reduce el margen inferior */
}

.purchase-options .book-image-container img {
    width: 160px; /* Cambia el valor según lo desees */
    height: auto; /* Manten la proporción de aspecto */
}

.purchase-options section {
    
    width: 100%;
    margin-bottom: 10px; /* Reduce el margen inferior */
    text-align: center; /* Centra el texto */
}

.purchase-options h2 {
    font-size: 1.2em; /* Reduce el tamaño de fuente */
}

.purchase-options label {
    display: block;
    margin-bottom: 5px; /* Reduce el margen inferior */
    font-size: 0.9em; /* Reduce el tamaño de fuente */
}

.purchase-options select {
    width: 100%;
    padding: 8px; /* Reduce el padding */
    margin-top: 5px; /* Reduce el margen superior */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 0.9em; /* Reduce el tamaño de fuente */
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav button {
    padding: 10px 20px; /* Aumenta el padding para agrandar los botones */
    margin-left: 15px; /* Agrega espacio a la izquierda del primer botón */
    margin-top: 100px; /* Ajusta la posición hacia arriba */
}

.button-container button {
    padding: 8px 12px; /* Reduce el padding */
    margin-top: 5px; /* Reduce el margen superior */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em; /* Reduce el tamaño de fuente */
    margin: 0 5px; /* Aumenta el margen entre botones */
}

#detalles {
    background-color: #627FA5;
    color: white;
}

#cancelar {
    background-color: #627FA5;
    color: white;
}

.botones #boton1 {
  
    position: absolute;
    top: 20px;
    left: 600px;
    padding: 10px 40px; /* Ajusta el padding de los botones */
    margin: 0 10px; /* Agrega espacio entre los botones */
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1em; /* Ajusta el tamaño de fuente de los botones */
    background-color: #BDBDBD; /* Color de fondo */
    color: black; /* Color del texto */
    margin-top:10px;
  
}

.botones #boton2 {
  
    position: absolute;
    top: 20px;
    left: 1100px;
    padding: 10px 40px; /* Ajusta el padding de los botones */
    margin: 0 10px; /* Agrega espacio entre los botones */
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1em; /* Ajusta el tamaño de fuente de los botones */
    background-color: #BDBDBD; /* Color de fondo */
    color: black; /* Color del texto */
    margin-top:10px;
  
}

nav button:first-child {
    margin-right: 15px; /* Agrega espacio a la derecha del primer botón */
}

.button-container button:hover {
    opacity: 0.9;
}

/* Estilos para el pie de página */
footer {
    background-color: #335D92;
    color: white;
    text-align: center;
    padding: 0.5em 0; /* Reduce el padding */
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-end; /* Alinea los elementos al final del contenedor */
    padding: 0.8em; /* Agrega un pequeño padding para separación */
    margin-top: -15px;
}





.botones button:hover {
  
    background-color: #6A9B83
}

.contenedorbotones  {
  
  position: relative;
  background-color: #D9D9D9;
  top: 168px;
  padding-bottom: 105px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
 
}


#propuesta {
  
  position: absolute;
  top: 30px;
  left: 1400px;
  padding: 5px 80px;
  border-radius: 3px;
  background-color: #BDBDBD;
  border: none;
  color: black;
  transition: background-color 0.5s ease;

}

#propuesta:hover {
    background-color: #EFFFF6;
}

#cargarmanu {
  
  position: absolute;
  top: 30px;
  left: 1660px;
  padding: 5px 40px;
  border-radius: 3px;
  background-color: #BDBDBD;
  border: none;
  color: black;
  transition: background-color 0.5s ease;
}

#cargarmanu:hover {
    background-color: #EFFFF6;
}

#estatusss {
  
  position: absolute;
  top: 30px;
  left: 1150px;
  padding: 5px 85px;
  border-radius: 3px;
  background-color: #BDBDBD;
  border: none;
  color: black;
  transition: background-color 0.5s ease;
}

#estatusss:hover {
    background-color: #EFFFF6;
}